*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */
:root {
    --primary-color: #fff;
    --primary-font: 'Boogaloo', cursive;

}


/* General */
body{
    background-color: #000;
}

h1,
h2,
h3,
p{
    color: var(--primary-color);
}

.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-image: url(https://i.pinimg.com/originals/3a/0b/40/3a0b40d96c53860572a1c29970ce14a8.gif);
}

.spaceship{
    position: relative;
    width: 20rem;
    top: 20%;
    left: -15%;
}

.cover h1{
    font-size: 5rem;
    font-family: var(--primary-font);
    text-align: center;
}

.logo{
    width: 13rem;
}

.intro-text{
    margin: 10%;
}

.intro h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.ayuda{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #a2f60d;
    color: #000;
    padding: 1rem;
    margin-top: 1rem;
}

.intro-images{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.intro-images__circle{
    background-color: #fff;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.intro-images__circle img{
    width: 70%;
}

.intro-images p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #a2f60d;
}

.intro-btn{
    display: block;
    margin: 5rem auto 0 auto;
    background-color:#a2f60d;
    color: #000;
    padding: 1rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
}

/* __ **Clientes** __*/

.clientes-title{
    font-family: var(--primary-font);
    color: #a2f60d;
    font-size: 5rem;
    margin: 2rem 0 0 4rem;
}

.slider{
    overflow: hidden;
    height: 30rem;
}

.slider figure{
    width: 500%;
    margin: 0;
    left: 0;
    position: relative;
    animation: slider 25s linear infinite;
}

.alienWheadphones{
    width: 20rem;
    float: left;
}

.clientes-text{
    margin: 5rem 2rem 4rem 2rem;
    border: 1px solid #a2f60d;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* __ **Playeras**__*/
.playeras{
    height: 50rem;
    background-image: url(https://i.pinimg.com/originals/9b/2f/cf/9b2fcfc4838dbcbe8b97e2e038789e6b.gif     );
}

.playeras h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #a2f60d;
    font-family: var(--primary-font);
}

.playeras-img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.playeras-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.ply-btn{
    margin-top: 1rem;
}

.slider-text{
    height: 10rem;
    font-size: 8rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
}

/* __ ** Cubrebocas **__*/

.cubrebocas{
    margin: 0 0 10rem 0;
    height: 40rem;
    background-image: url(https://i.pinimg.com/originals/9b/2f/cf/9b2fcfc4838dbcbe8b97e2e038789e6b.gif     );
}

.cubrebocas h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #a2f60d;
    font-family: var(--primary-font);
}

.cubrebocas-img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.cubrebocas-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.cub-btn{
    margin-top: 1rem;
}

/* __ ** Pasos **__*/
.pasos img{
    width: 100%
}



/* __ ** Formulario **__*/

.form{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 15% 10% 15%;
}

.datos-personales{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos-personales label{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.3rem;
}

.datos-personales input{
    background-color: #c4c4c41a;
    width: 15rem;
    height: 2rem;
}

.diseño{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.seleccion h1{
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.seleccion button{
    background-color: #a2f60d;
    width: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.adjunto h1{
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.adj-cont{
    width: 80%;
    height: 10rem;
    background-color: gray;
    margin: 0 auto;
}

/* -- Media queries -- */
@media (max-width: 600px){
    .form{
        display: block;
    }
}

/* -- Keyframes--*/

@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    /*45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }*/
}
